/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin: auto;
        width: 50%;
        position: relative;
    left: 6%;
}

#progressbar li {
    list-style-type: none;
    color: #666;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    /*content: counter(step);*/
    /*counter-increment: step;*/
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 79%;
    height: 3px;
    background: #dddada;
    position: absolute;
    left: -79%;
    top: 24px;
    z-index: 0;
    z-index: 0;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #1C9CD8;
    color: white;
}

ol {
        list-style-type: none;
        counter-reset: custom-counter;
        padding-left: 0;
    }

    ol li::before {
        /*counter-increment: custom-counter;*/
         /* Change the content here */
        margin-right: 5px; /* Optional spacing between counter and text */
        /* You can add your icon styling here */
    }

.icon-div {
	border: 2px solid #1C9CD8;
	width: 21%;
    background: #e2d7d7;
    text-align: center;
       padding: 11px;
    border-radius: 811px;
}
.icon-div  i{
	font-size: 25px;

}

li.active .icon-div {
	background: #1C9CD8;
    color: white;
}

li.active_step .icon-div{
	background: #80b880;;
    border: 2px solid #d1e3d1;
        color: #1b421b;

}


.top-btn-row {
    background: none;
    background: #ffffff;
    font-size: 26px;
    padding: 0px 9px 0px 9px;
    /* border: none; */
    border: 1px solid #e3dbdb;
}
.top-btn-row i {
    line-height: 1.7;
    color: #555555 !important;
}
.timesheet-summary-lst .top-btn-row:hover{
    background-color: #dde2e2 !important;
    border-color: unset !important;
}



